@model Turnos.Models.TrnCalendarioPlantaCabecera
@{
    ViewBag.Title = "CalendarioPlanta";
}
<button type="button" id="btnNuevoCalendario" class="btn btn-success">Nuevo</button>
<button type="button" id="btnBorrarCalendario" class="btn btn-danger">Borrar</button>
<div class="form-group">
    <label asp-for="IdCalendarioPlanta" class="control-label">Calendario</label>
    <select asp-for="IdCalendarioPlanta" id="ddlCalendarioPlanta" class="form-control" asp-items="ViewBag.IdCalendarioPlanta"></select>
    <input type="hidden" id="hdId" />
</div>
<div id="calender"></div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-remove"></span> Eliminar
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                    <span class="glyphicon glyphicon-pencil"></span> Editar
                </button>
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>
            </div>
        </div>
    </div>
</div>
<div id="myModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Guardar Calendario</h4>
            </div>
            <div class="modal-body">
                <form class="col-md-12 form-horizontal">
                    <input type="hidden" id="hdEventID" value="0" />
                    <input type="hidden" id="hdIdCalendario" />
                    <div class="form-group">
                        <label>Asunto</label>
                        <input type="text" id="txtSubject" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Inicio</label>
                        <div class="input-group date" id="dtp1">
                            <input type="text" id="txtStart" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label><input type="checkbox" id="chkIsFullDay" checked="checked" />  Es evento de todo el día</label>
                        </div>
                    </div>
                    <div class="form-group" id="divEndDate" style="display:none">
                        <label>Fin</label>
                        <div class="input-group date" id="dtp2">
                            <input type="text" id="txtEnd" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Descripción</label>
                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                    </div>
                    @*<div class="form-group">
                        <label>Color del tema</label>
                        <select id="ddThemeColor" class="form-control">
                            <option value="">Default</option>
                            <option value="red">Rojo</option>
                            <option value="blue">Azul</option>
                            <option value="black">Negro</option>
                            <option value="green">Verde</option>
                        </select>
                    </div>*@
                    <button type="button" id="btnSave" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="myModalCalendario" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Guardar Calendario</h4>
            </div>
            <div class="modal-body">
                <form class="col-md-12 form-horizontal">
                    <input type="hidden" id="hdIdCalendarioPlanta" value="0" />
                    <div class="form-group">
                        <label>Descripción</label>
                        <textarea id="txtDescripcion" rows="3" class="form-control"></textarea>
                    </div>
                    <button type="button" id="btnGuardarCalendario" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="Detalle">

</div>
<link href="~/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
<link href="~/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="~/fullcalendar/fullcalendar.min.js"></script>
    <script src='~/fullcalendar/locale/es.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>

        $(document).ready(function () {
            var horarioMinimo = TraerHorarioMinimo();
            var horarioMaximo = TraerHorarioMaximo();
            var events = [];
            var selectedEvent = null;
            FetchEventAndRenderCalendar($("#ddlCalendarioPlanta").val());
            function FetchEventAndRenderCalendar(idCalendarioPlanta) {
                events = [];

                $.ajax({
                    type: "GET",
                    url: "CalendarioPlanta/ObtenerCalendarioPlanta",
                    data: { 'idCalendarioPlanta': idCalendarioPlanta },
                    success: function (data) {
                        $.each(data, function (i, v) {
                            events.push({
                                eventID: v.EventID,
                                IdCalendarioPlanta: v.IdCalendarioPlanta,
                                empid: v.Empid,
                                title: v.Subject,
                                description: v.Description,
                                start: moment(v.Start),
                                end: v.End != null ? moment(v.End) : null,
                                color: v.ThemeColor,
                                allDay: v.IsFullDay,
                                dow: "[" + v.Dow + "]"
                            });
                        })

                        GenerateCalendar(events);
                    },
                    error: function (error) {
                        alert('Error');
                    }
                })

            }

            function TraerHorarioMinimo() {
                $.ajax({
                    type: "POST",
                    url: "CalendarioPlanta/TraerHorarioMinimo",
                    success: function (respuesta) {
                        horarioMinimo = respuesta;
                    },
                    error: function () {
                        alert('Error occured');
                    }
                })
            }

            function TraerHorarioMaximo() {
                $.ajax({
                    type: "POST",
                    url: "CalendarioPlanta/TraerHorarioMaximo",
                    success: function (respuesta) {
                        horarioMaximo = respuesta;
                    },
                    error: function () {
                        alert('Error occured');
                    }
                });
            }

            function GenerateCalendar(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    editable: true,
                    contentHeight: 550,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    defaultView: 'agendaWeek',
                    events: events,
                    //allDayDefault: true,
                    header: {
                        left: 'agendaWeek',
                        center: '',
                        right: ''
                    },
                    businessHours: {
                        start: horarioMinimo,
                        end: horarioMaximo,
                        dow: [1, 2, 3, 4, 5, 6]
                    },
                    allDayDefault: false,
                    selectable: true,
                    selectConstraint: 'businessHours',
                    eventLimit: true,
                    eventDurationEditable: false,
                    allDaySlot: false,
                    //selectConstraint: 'businessHours',
                    columnHeaderFormat: 'ddd',
                    //eventLimit: true,

                    slotDuration: '01:00:00',
                    eventClick: function (calEvent, jsEvent, view) {

                        selectedEvent = calEvent;
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Inicia:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>Finaliza:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm")));
                        }
                        $description.append($('<p/>').html('<b>Descripción:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                        //MostrarDetalle(calEvent);

                    },
                    select: function (start, end) {

                        selectedEvent = {
                            eventID: 0,
                            IdCalendarioPlanta: '',
                            title: '',
                            description: '',
                            start: start,
                            end: end,
                            allDay: false,
                            color: '',
                            dow: 0
                        };
                        openAddEditForm();
                        // $('#calendar').fullCalendar('unselect');
                    },
                    eventDrop: function (event, delta, revertFunc) {
                        if ($('#ddlCalendarioPlanta').val() == 0) {
                            alert('Ingrese un nuevo calendario de planta o seleccione uno!');
                            revertFunc();
                        }
                        else {
                            if (!confirm("Esta seguro de este cambio?")) {
                                revertFunc();
                            } else {
                                var data = {
                                    EventID: event.eventID,
                                    IdCalendarioPlanta: $("#ddlCalendarioPlanta").val(),
                                    empid: event.empid,
                                    Subject: event.title,
                                    Start: event.start.format('DD/MM/YYYY HH:mm'),
                                    End: event.allDay == true ? '1900-01-01 00:00:00' : event.end.format('DD/MM/YYYY HH:mm'),
                                    Description: event.description,
                                    ThemeColor: event.color,
                                    IsFullDay: event.allDay,
                                    Dow: moment(event.start, "DD/MM/YYYY HH:mm A").toDate().getDay(),
                                };
                                GrabarCalendarioPlanta(data);
                            }
                        }
                    },

                })
            }

            $('#ddlCalendarioPlanta').on('change', function (e) {
                $('#hdId').val(this.value);
                FetchEventAndRenderCalendar(this.value);
            });

            $('#btnNuevoCalendario').click(function () {
                AbrirPopupNuevoCalendario();
            })

            $('#btnBorrarCalendario').click(function () {
                if (confirm('¿Está seguro de eliminar el Calendario?')) {
                    var data = { idCalendarioPlanta: $('#ddlCalendarioPlanta').val() };
                    $.ajax({
                        type: "POST",
                        url: 'CalendarioPlanta/BorrarCalendario',
                        data: data,
                        success: function (data) {
                            if (!data.errorFK) {
                                if (data.status) {
                                    //actualizar el calendario con el primero de la lista
                                    $('#ddlCalendarioPlanta option[value=' + $('#ddlCalendarioPlanta').val() + ']').remove();
                                    FetchEventAndRenderCalendar($("#ddlCalendarioPlanta option:first").val());
                                }
                            } else {
                                alert('No puede borrar el calendario ya que esta asociado a una boca');
                            }
                        },
                        error: function () {
                            alert('Error');
                        }
                    })
                }
            })

            //SEGUIR ACA ABRIR EL POPUP DE DETALLE Y LUEGO EDICION
            function AbrirPopupNuevoCalendario() {
                $('#txtDescripcion').val('');
                $('#myModalCalendario').modal();
            }

            $('#btnGuardarCalendario').click(function () {
                //validaciones
                if ($('#txtDescripcion').val().trim() == "") {
                    alert('Descripción requerida');
                    return;
                }
                var data = {
                    IdCalendarioPlanta: $('#hdIdCalendarioPlanta').val(),
                    Descripcion: $('#txtDescripcion').val(),
                }
                GrabarCalendario(data);
                //llama a función para enviar datos al server
            })

            function GrabarCalendario(data) {
                $.ajax({
                    type: "POST",
                    url: 'CalendarioPlanta/GrabarCalendario',
                    data: data,
                    success: function (data) {
                        if (data.status) {
                            $('#ddlCalendarioPlanta').append($('<option>', {
                                value: data.id,
                                text: data.texto
                            }));
                            $('#ddlCalendarioPlanta option[value=' + data.id + ']').attr("selected", "selected");
                            $('#ddlCalendarioPlanta').change();
                            $('#myModalCalendario').modal('hide');
                        }
                    },
                    error: function () {
                        alert('Error');
                    }
                })
            }

            $('#btnEdit').click(function () {
                //abre popup para editar CalendarioPlanta
                openAddEditForm();
            })

            $('#btnDelete').click(function () {
                if (selectedEvent != null && confirm('¿Está seguro de eliminar el periodo?')) {
                    $.ajax({
                        type: "POST",
                        url: 'CalendarioPlanta/BorrarCalendarioPlanta',
                        data: { 'eventID': selectedEvent.eventID },
                        success: function (data) {
                            if (data.status) {
                                //actualizar el calendario
                                FetchEventAndRenderCalendar($("#ddlCalendarioPlanta").val());
                                $('#myModal').modal('hide');
                            }
                        },
                        error: function () {
                            alert('Error');
                        }
                    })
                }
            })

            $('#dtp1').datetimepicker({
                format: 'DD/MM/YYYY HH:mm'
            });
            $('#dtp2').datetimepicker({
                format: 'DD/MM/YYYY HH:mm'
            });

            $('#chkIsFullDay').change(function () {
                if ($(this).is(':checked')) {
                    $('#divEndDate').hide();
                }
                else {
                    $('#divEndDate').show();
                }
            });

            function openAddEditForm() {                
                if ($('#ddlCalendarioPlanta').val() == null) {
                    alert('Ingrese un nuevo calendario de planta o seleccione uno!');                    
                }
                else {
                    if (selectedEvent != null) {
                        $('#hdEventID').val(selectedEvent.eventID);
                        $('#hdIdCalendario').val($("#ddlCalendarioPlanta").val());
                        $('#txtSubject').val(selectedEvent.title);
                        $('#txtStart').val(selectedEvent.start.format('DD/MM/YYYY HH:mm'));
                        $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                        $('#chkIsFullDay').change();
                        $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('DD/MM/YYYY HH:mm') : '');
                        $('#txtDescription').val(selectedEvent.description);
                        //$('#ddThemeColor').val(selectedEvent.color);
                    }
                    $('#myModal').modal('hide');
                    $('#myModalSave').modal();
                }
            }

            $('#btnSave').click(function () {
                var startDate = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm A").toDate();
                var endDate = moment($('#txtEnd').val(), "DD/MM/YYYY HH:mm A").toDate();
                //validaciones
                if ($('#txtSubject').val().trim() == "") {
                    alert('Asunto requerido');
                    return;
                }
                if ($('#txtStart').val().trim() == "") {
                    alert('Fecha Inicio requerida');
                    return;
                }
                if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
                    alert('Fecha Fin requerida');
                    return;
                }
                else {

                    if (startDate > endDate) {
                        alert('Fecha no válida');
                        return;
                    }
                }

                var data = {
                    EventID: $('#hdEventID').val(),
                    IdCalendarioPlanta: $("#ddlCalendarioPlanta").val(),
                    Subject: $('#txtSubject').val().trim(),
                    Start: $('#txtStart').val().trim(),
                    End: $('#chkIsFullDay').is(':checked') ? '1900-01-01 00:00:00.000' : $('#txtEnd').val().trim(),
                    Description: $('#txtDescription').val(),
                    //ThemeColor: $('#ddThemeColor').val(),
                    IsFullDay: $('#chkIsFullDay').is(':checked'),
                    Dow: moment($('#txtStart').val(), "DD/MM/YYYY HH:mm A").toDate().getDay(),
                }

                if (GrabarCalendarioPlanta(data) == false)
                    return;
                //llama a función para enviar datos al server
            })

            function GrabarCalendarioPlanta(data) {
                $.ajax({
                    type: "POST",
                    url: 'CalendarioPlanta/GrabarCalendarioPlanta',
                    data: data,
                    success: function (data) {
                        if (data.horarioValido) {
                            if (data.status) {
                                //actualiza calendario
                                FetchEventAndRenderCalendar($('#ddlCalendarioPlanta').val());
                                $('#myModalSave').modal('hide');
                            }
                            else {
                                alert('Error al grabar los datos');
                            }
                        }
                        else {
                            alert('Esta fuera del rango permitido!');
                        }
                    },
                    error: function () {
                        alert('Error');
                    }
                })
            }

            function MostrarDetalle(event) {
                $('#Detalle').text(event.start);
            }

        })
    </script>
}
