@model Turnos.Models.TrnBoca

@{
    ViewData["Title"] = "Edit";
}

<h1>Boca de entrega</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdPlanta" class="control-label">Calendario de Plantas</label>
                <select asp-for="IdPlanta" class="form-control" asp-items="ViewBag.IdPlanta"></select>
                <span asp-validation-for="IdPlanta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="color" class="control-label">Color</label>
                <input type="button" asp-for="color" class="form-control" id="color-picker-background" />
            </div>
            <input type="hidden" id="codigocolor" asp-for="color" />
            <input type="hidden" asp-for="IdBoca" />
            <div class="form-group">
                <label asp-for="BocaEntrega" class="control-label"></label>
                <input asp-for="BocaEntrega" class="form-control" />
                <span asp-validation-for="BocaEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> Activa
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SegmentoCantMin" class="control-label"></label>
                <input asp-for="SegmentoCantMin" class="form-control" />
                <span asp-validation-for="SegmentoCantMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegmentoCantPalletMax" class="control-label"></label>
                <input asp-for="SegmentoCantPalletMax" class="form-control" />
                <span asp-validation-for="SegmentoCantPalletMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCalendarioPlanta" class="control-label">Calendario de Plantas</label>
                <select asp-for="IdCalendarioPlanta" class="form-control" asp-items="ViewBag.IdCalendarioPlanta"></select>
                <span asp-validation-for="IdCalendarioPlanta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCalendarioFeriado" class="control-label">Calendario de Feriados</label>
                <select asp-for="IdCalendarioFeriado" class="form-control" asp-items="ViewBag.IdCalendarioFeriado"></select>
                <span asp-validation-for="IdCalendarioFeriado" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="VerificaSobreposicionHoraria" /> @Html.DisplayNameFor(model => model.VerificaSobreposicionHoraria)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CantidadCitasSimultaneas" class="control-label"></label>
                <input asp-for="CantidadCitasSimultaneas" class="form-control" />
                <span asp-validation-for="CantidadCitasSimultaneas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoBoca" class="control-label"></label>
                <select asp-for="IdTipoBoca" class="form-control" asp-items="ViewBag.IdTipoBoca"></select>
                <span asp-validation-for="IdTipoBoca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiasPrevision" class="control-label">Cantidad de dìas de prevision</label>
                <input asp-for="DiasPrevision" class="form-control" />
                <span asp-validation-for="DiasPrevision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioResponsableBoca" class="control-label"></label>
                <input asp-for="UsuarioResponsableBoca" class="form-control" />
                <span asp-validation-for="UsuarioResponsableBoca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.min.css" rel="stylesheet">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js"></script>

    <script>
        $(document).ready(function () {

            $('#color-picker-background')[0].style.backgroundColor = $("#codigocolor").val();
            $('#color-picker-background')[0].style.color = $("#codigocolor").val();
            $('#codigocolor').val($("#codigocolor").val());
            $(function () {
                $('#color-picker-background').colorpicker().on('changeColor', function (e) {
                    $('#color-picker-background')[0].style.backgroundColor = e.color.toHex();
                    $('#color-picker-background')[0].style.color = e.color.toHex();
                    $('#codigocolor').val(e.color.toHex());
                });
            });

        });

    </script>
}
